@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --color-white: #FFFFFF;
  --color-black : #000000;
  --color-primary: #293264;
  --color-secondary: #4D5B9E;
  --color-lemony: #FFFAD1;
  --color-baby-blue-medium: #DEEBF8;
  --color-baby-blue-dark: #DBDEF0;
  --color-baby-blue-light: #F5F7FB;
  --color-green-success: #94D7A2;
  --color-red-failed: #F8BCBC;

  --font-family-primary: "Karla", sans-serif;
  --font-family-secondary: "Inter", sans-serif;

  --font-size-normal: 16px;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

}

/** Button **/
.button {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 15px;
  color: var(--color-white);
  text-transform: capitalize;
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
  padding: 15px 40px;
  text-align: center;
  cursor: pointer;
}

/** Quizzical Start **/

.Quizzical {
  height: 100%;
  display: flex;
  font-size: var(--font-size-normal);
  justify-content: center;
  align-items: center;
}

.Quizzical .Quizzical__container {
  width: 750px;
  height: 650px;
  max-width: 100%;
  background-color: var(--color-baby-blue-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Quizzical .Quizzical__start {
  text-align: center;
}

.Quizzical .Quizzical__start .Quizzical__title {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: 31.25px;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  margin-bottom: 12px;
}

.Quizzical .Quizzical__start .Quizzical__description {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-normal);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
  margin-bottom: 20px;
}

/** Quizzical Quizzical__Quiz **/

.Quizzical .Quizzical__Quiz {
  align-self: flex-start;
  padding: 15px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.Quizzical .Quizzical__Quiz .Quizzical__Form {
  height: 100%;
}

.Quizzical .Quizzical__Quiz .Quizzical__Form-Section {
  padding: 15px;
  border-bottom: 0.794px solid var(--color-baby-blue-dark);
}

.Quizzical .Quizzical__Quiz .Quizzical__Question {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-normal);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  margin-bottom: 10px;
  text-wrap: wrap;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers-Wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers {
  max-width: 100%;
  position: relative;
  background-color: transparent;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers .input-radio {
  opacity: 0;
  position: fixed;
  width: 0;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers label {
  display: inline-block;
  border-radius: 7.942px;
  border: 0.794px solid var(--color-secondary);
  padding: 4px 16px;
  color: var(--color-primary);
  text-align: center;
  text-transform: capitalize;
  font-family: var(--font-family-secondary);
  font-size: 10.24px;
  font-weight: var(--font-weight-normal);
  cursor: pointer;
  text-wrap: nowrap;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers label:hover {
  background-color: var(--color-baby-blue-dark);
  color: var(--color-primary);

}

/* .Quizzical .Quizzical__Quiz .Quizzical__Answers .input-radio:focus + label {
  background-color: var(--color-baby-blue-dark);
  color: var(--color-primary);
  border-color: transparent;
} */

.Quizzical .Quizzical__Quiz .Quizzical__Answers .input-radio:checked + label {
  background-color: var(--color-baby-blue-dark);
  color: var(--color-primary);
  border-color: transparent;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers .input-radio:focus+label.correct-answer {
  background-color: var(--color-green-success);
  color: var(--color-primary);
  border-color: transparent;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers .input-radio:checked + label.correct-answer {
  background-color: var(--color-green-success);
  color: var(--color-primary);
  border-color: transparent;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers .input-radio:focus+label.wrong-answer {
  background-color: var(--color-red-failed);
  color: var(--color-primary);
  border-color: transparent;
  opacity: 0.5;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers .input-radio:checked+label.wrong-answer {
  background-color: var(--color-red-failed);
  color: var(--color-primary);
  border-color: transparent;
  opacity: 0.5;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers .input-radio:focus+label.disable-answer {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
  opacity: 0.5;
}

.Quizzical .Quizzical__Quiz .Quizzical__Answers .input-radio:checked+label.disable-answer {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
  opacity: 0.5;
}

.Quizzical .Quizzical__Quiz .Quizzical__Button-Group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  min-height: auto;
}




